<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		 <!-- 
		 <setting name="defaultExecutorType" value="REUSE" /> 
		  -->
         <setting name="defaultExecutorType" value="BATCH" />
		<setting name="localCacheScope" value="STATEMENT" /> 
	</settings>
	
	<typeAliases>
		<package name="com.sslee.dummy.domain"/>
	</typeAliases>
	
	<!-- <typeHandlers>
		<typeHandler javaType="String" jdbcType="CLOB" handler="org.apache.ibatis.type.TypeHandler"/>
	</typeHandlers> -->
	
</configuration>